.QuestionCard {
    max-width: 500px;
    min-width: 300px;
    margin: auto;
    text-align: left;
}

.QuestionButtons {
    text-align: right;
}

.QuestionCard.Correct {
    background-color: seagreen !important;
}

.QuestionCard.Incorrect {
    background-color: #8C0000 !important;
}

.QuestionCard.Answered {
    margin-top: 20px;
}

.AnsweredCards {
    max-height: 600px;
    overflow: hidden;
}

.FloatingAddButton {
    position: absolute;
    right: 30px;
    bottom: 30px;
}

.FloatingResultsButton {
    position: absolute;
    right: 30px;
    bottom: 30px;
}