.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(58, 58, 58);
  height: 150px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-content {
  position: absolute;
  align-content: center;
  text-align: center;
  margin: auto;
  padding-top: 20px;
  background: rgb(128, 128, 128);
  top: 150px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
